@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --blackHeader: #171717;
  --blueHeader: #25aae2;
  --grayHeader: #434343;
  --blueText: #0d75bc;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--blackHeader);
  color: white;
}

p {
  line-height: 1.6;
  color: #bac7cd;
}

input,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* LOADER ANIMATION */
/* ============ */

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HEADER */
/* ======== */

.header {
  background-color: var(--blackHeader);
  color: white;
  padding: 1em;
  max-width: 600px;
  margin: 0em auto 2em auto;
}

.header-h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.finder-span {
  color: var(--blueHeader);
  font-weight: 700;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4em;
}

/* navbar-mobile */

.hamburger {
  border: none;
  background: none;
  appearance: none;
  margin-top: -0.8em;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 5px;
}

.cross-btn {
  margin-left: auto;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.x-mark {
  font-size: 2rem;
  color: white;
}

.x-mark:hover {
  color: var(--blueHeader);
}

.mobile-nav {
  position: fixed;
  padding: 2em;
  background-color: var(--blackHeader);
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  left: 200%;
  transition: all ease-in-out 0.3s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav > ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.mobile-nav > ul > li {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;

  text-align: center;
}

.mobile-nav > ul > li:hover,
.mobile-nav > ul > li:active {
  color: var(--blueHeader);
  cursor: pointer;
}

/* desktop nav */

.desktop-nav {
  display: none;
}

.desktop-nav > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.desktop-nav > ul > li {
  font-weight: 600;
  font-size: 1.2rem;
}

.desktop-nav > ul > li:hover {
  color: var(--blueHeader);
}

.ds-nav-active {
  border-bottom: 2px solid var(--blueHeader);
  padding-bottom: 0.2em;
}

/* header-form */
.header-input:focus {
  outline: none;
}

.header-form {
  border: 1px solid var(--grayHeader);
  transition: all ease-in-out 0.5s;
  display: inline;
  border-radius: 10px;
  padding: 0.5em 0.3em;
}

.header-input {
  background-color: var(--blackHeader);
  color: white;
  border: none;
  padding: 0.3em 0.5em;
  font-size: 0.9rem;
  width: 60%;
  transition: all ease-in-out 0.5s;
}

.header-input:focus {
  width: 85%;
}

.submit-btn {
  border: none;
  background: none;
  appearance: none;
  cursor: pointer;
}

.search-icon {
  color: white;
}

/* CAROUSEL */
/* ========= */

.carousel {
  margin-top: 1em;
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.carousel-container {
  background-color: var(--blackHeader);
}

/* CAROUSEL ITEM */
/* ============ */

.carousel-link {
  background-color: var(--blackHeader);
}

.carousel-img-div {
  position: relative;
}

.carousel-img {
  border-radius: 20px;
}

.arrow-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 38%;
}

.arrow-btn {
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.left-arrow-icon,
.right-arrow-icon {
  color: white;
  font-size: 7rem;
  opacity: 0.3;
}

.right-arrow-btn {
  left: 85%;
}

.left-arrow-icon:hover,
.right-arrow-icon:hover,
.left-arrow-icon:active,
.right-arrow-icon:active {
  opacity: 1;
}

.carousel-item {
  display: none;
}
.carousel-item.is-active {
  display: block;
  animation: fader 1s ease-in-out;
}

.carousel-content {
  padding: 1em 1em;
}

.carousel-item-h1 {
  font-size: 1.5rem;
  color: var(--blueHeader);
  text-align: center;
  margin: 0;
}

.carousel-item-p {
  text-align: center;
}

@keyframes fader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* NOW PLAYING MOVIES
================== */
/* HOMEPAGE */

.now-playing,
.upcoming,
.top-rated,
.popular,
.searched-movies {
  padding: 2em 1em;
  margin: 0.5em;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

.now-playing-movies-wrapper,
.upcoming-movies-wrapper,
.top-rated-movies-wrapper,
.popular-movies-wrapper,
.searched-movies-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  border-radius: 10px;
}

.now-playing-h1,
.upcoming-movie-h1,
.top-rated-movie-h1,
.popular-movie-h1,
.searched-movie-h1 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: var(--blueHeader);
  border-radius: 10px;
  text-transform: uppercase;
  word-spacing: 3px;
  margin-bottom: 2em;
  text-align: center;
}

.now-playing-movie-card,
.upcoming-movie-card,
.top-rated-movie-card,
.popular-movie-card,
.searched-movie-card {
  max-width: 40%;
}

.now-playing-img,
.upcoming-img,
.top-rated-img,
.popular-img,
.searched-img {
  border-radius: 10px;
}

.now-playing-h3,
.upcoming-h3,
.top-rated-h3,
.popular-h3,
.searched-h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
}

.now-playing-p,
.upcoming-p,
.top-rated-p,
.popular-p,
.searched-p {
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
}

/* MOVIE DETAILS  */
/* ============== */

.movie-details-card {
  margin: 1em auto 0em auto;
  max-width: 700px;
}

.movie-details-img {
  border-radius: 10px;
}

.movie-details-header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--blueHeader);
  font-weight: 700;
}

.movie-details-content {
  padding: 1em 1em;
  box-shadow: 0 0 4px black;
  margin: 0.5em 0.1em;
  border-radius: 10px;
}

.movie-details-rating {
  margin-left: 0.4em;
  word-spacing: 2px;
}

.rating-wrapper,
.release-date-span {
  color: var(--grayFont);
}

.rating-wrapper {
  margin-bottom: 1.3em;
}

.release-date-h3 {
  color: var(--blueHeader);
  margin-bottom: 0.5em;
}

.synopsis {
  color: var(--blueHeader);
  margin-bottom: 0;
}

.synopsis-p {
  margin-top: 0.5em;
  color: var(--grayFont);
}

.back-btn {
  font-weight: 600;
  appearance: none;
  background: none;
  border: none;
  color: gray;
}

.back-icon {
  color: var(--blueHeader);
}

.back-btn:hover {
  color: var(--blueHeader);
}

/* FOOTER */
/* ======= */

.footer {
  background-color: var(--footerColor);
}

.footer-wrapper {
  color: white;
  padding: 2em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-h4,
.footer-p {
  color: white;
}

.footer-social-wrapper {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  justify-content: center;
  margin-bottom: 2em;
}

.footer-social-icon {
  font-size: 1.5rem;
  transition: all ease-out 200ms;
}

.footer-social-icon:hover {
  transform: scale(1.3);
}

.footer-p {
  margin-bottom: 1em;
}

.attribution {
  width: 100%;
}

/* .attribution-img {
  width: 50%;
  background-color: magenta;
  padding: 1em;
} */

.movie-db-logo {
  display: inline;
  width: 50%;
  max-width: 95px;
  margin-left: 2px;
}

/* ERROR PAGE*/
/* ========== */

.error {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.error-content {
  margin-top: 3em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-h1 {
  font-size: 1.6rem;
}

.back-to-home-btn {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
}

.back-to-home-btn:hover {
  color: var(--blueHeader);
  background-color: white;
}

@media (min-width: 500px) {
  .now-playing-movies-wrapper,
  .upcoming-movies-wrapper,
  .top-rated-movies-wrapper,
  .popular-movies-wrapper {
    gap: 2.5em;
  }
}

/* FOR LAPTOPS */
@media (min-width: 900px) {
  /* HEADER */
  /* ======= */

  .hamburger {
    display: none;
  }

  .header {
    max-width: 1200px;
  }

  .header-h1 {
    font-size: 2rem;
  }

  .header-input {
    font-size: 1.3rem;
  }

  .header-form {
    padding: 0.9em 0.5em;
  }

  .desktop-nav {
    display: block;
    margin-bottom: 1.5em;
  }

  .carousel {
    max-width: 100%;
    margin-bottom: 10em;
  }

  .carousel-item.is-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .carousel-img-div {
    width: 50%;
    max-width: 500px;
  }

  .arrow-btn-wrapper {
    top: 102%;
    bottom: 0;
    max-width: 150px;
    left: 34%;
  }
  .carousel-content {
    width: 30%;
  }

  .carousel-item-h1 {
    text-align: left;
    font-size: 2rem;
  }

  .carousel-item-p {
    text-align: left;
    font-size: 1.2rem;
  }

  /* PAGES LATPOP*/

  .now-playing,
  .upcoming,
  .top-rated,
  .popular,
  .searched-movies {
    min-width: 800px;
    max-width: 80%;
    margin: 0 auto;
  }

  .now-playing-movies-wrapper,
  .upcoming-movies-wrapper,
  .top-rated-movies-wrapper,
  .popular-movies-wrapper,
  .searched-movies-wrapper {
    gap: 3.5em;
  }

  .now-playing-h1,
  .upcoming-movie-h1,
  .top-rated-movie-h1,
  .popular-movie-h1,
  .searched-movie-h1 {
    font-size: 2rem;
  }

  .now-playing-movie-card,
  .upcoming-movie-card,
  .top-rated-movie-card,
  .popular-movie-card {
    max-width: 380px;
  }

  /* .now-playing-img,
  .upcoming-img,
  .top-rated-img,
  .popular-img,
  .searched-img {
    max-width: 380px;
  } */

  .now-playing-h3,
  .upcoming-h3,
  .top-rated-h3,
  .popular-h3,
  .searched-h3 {
    font-size: 1.5rem;
  }

  .now-playing-p,
  .upcoming-p,
  .top-rated-p,
  .popular-p,
  .searched-p {
    font-size: 1rem;
  }

  .movie-details-header {
    font-size: 2rem;
  }

  .rating-wrapper {
    font-size: 1.2rem;
  }

  .release-date-h3,
  .synopsis {
    font-size: 1.4rem;
  }

  .release-date-span {
    font-size: 1.2rem;
  }

  .synopsis-p {
    font-size: 1.2rem;
  }

  .back-btn {
    font-size: 1.2rem;
  }
}
